*{
    margin:0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sevillana&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');





.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* Shared styles */
.display-flex {
    display: flex;
}

.dark-2 {
    color:#424242;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color:white;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    margin-top: 20px;
}
.btn-primary:hover {
 
    background-color: rgba(255, 144, 14, 0.15); 
    color: #FF900E; 
    border: 1px solid #FF900E; 
    box-shadow: 0 6px 12px rgba(255, 144, 14, 0.3); 

}

.card-primary {
    background-color: #FF900E;
    color:white;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 600;
    border:none;
    margin-top: 20px;
}

main {
    max-width:80%;
    margin: 0 auto;
}

main > section {
    margin-top: 100px;

}




/* header styles */



/* navbar related style */


.nav-item {
    list-style:none;
}

.nav-link {
    text-decoration: none;
    gap:50px;
    font-weight: 500;
}

.navbar {
    justify-content: space-between;
    padding:20px;
    max-width: 1440px;
    margin:0px 40px;
    align-items: center;
    text-align: center;
}

.brand-name {
    font-weight: 700;
    font-size: 1.6rem;
}

.banner img {
    width: 100%;

}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banner-content {
    max-width: 760px;
    margin:0 auto;
    text-align: center;
    
    margin-bottom: 40px;
    
    

}

.banner-title {
    font-size: 55px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.banner-dis {
    color:#42424284;
    
}

.banner-image {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Team section area */

.teams {
    align-items: center;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap:20px;

}

.team-image img {
    width:250px;
}

.our-feature {
    margin-left: 70px;
    max-width: 500px;
}

.feature-title {
    font-size: 2.8rem;
    color:#131313;
   
}

#quick-list {
    font-weight: 300;
    color: #727272;
}
#feature {
    color: #FF900E;
}
.feature-dis  {
    font-size: 14px;
    color: #42424288;
    margin: 10px 0px;
}


/* Features you will love & enjoy */

.features-section {
    gap: 100px;
    margin-bottom: 0px;
}

#features-border {
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}
.features-dis  {
    font-weight: 100;
    margin:20px 0px;
    font-size: 0.8rem;
    color:#42424284;
    

}

.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.card-title {
    font-size:1rem;
    font-weight: 600;
    margin-bottom: 10px;
    
}
.card-dis {
    font-size: 0.7rem;
    color:#42424288
    
}
.features-section img {
    width:100%;
    height:80%;
    
}
.features-section > div {
    width:50%
}



#exp-batch {
    padding:35px 40px;
    margin-left:-70px;
    margin-top:-100px;
}

#exp-year {
    font-size: 2rem;
}


/* Some Facts  araea */


.some-facts  {
    margin-bottom: 100px;
}


.some-facts-title {
    font-size: 40px;
    margin-bottom: 20px;
    
}

.some-facts-dis {
    width:50%;
    color:#4242429d;
    font-size:14px;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 100px;
}


.fact-item {
    border:1px solid #FF900E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px 20px;
    margin-top:70px;
    
}


.fact-count {
    font-size: 40px;
    margin: 10px 0px;
    color:#424242db;
}

.fact-dis  {
    font-size: 12px;
    color:#4242429d;
}


/* sponspors-content area  */

.sponspors-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0px;
}
.sponspors-title {
    font-size: 40px;
    margin-bottom: 20px;
}

.sponser-dis  {
    font-size: 14px;
    color:#4242429d;
    width:50%;
}
.sponser-image  {
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    gap:100px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

.sponser-image img {
    width:80%;
}


/* footer-area */

.footer-area  {
    background-color:#ff8f0e18;
    text-align: center;
    margin:50px  200px;
    padding: 20px; 
    border-radius: 10px;
    font-size: 14px;
    font-weight: 100;
    color:#424242ca
    

    
}
















/* responsive area */

@media screen and (max-width:576px) {
    .navbar , .nav-link ,.teams, .features-section {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .fact-container , .sponser-image {
        grid-template-columns: repeat(2, 1fr);
        gap:20px;
        margin-top:10px;

    }
    .sponser-image img {
        width:70%;
    }
    .some-facts-dis {
        width:90%;
        
    }


    
    .our-feature {
        align-items: center;
        text-align: center;
        margin-top: 50px;
        margin-left: 0px;
    }
    .team-image img {
        width:150px;
    }
    .features-section > div {
        width:100%
    }
    #exp-batch {
    padding:35px 40px;
    margin:20px 100px;
}

.footer-area {
    margin:30px 50px;
}

}

@media screen and (min-width:576px) and (max-width: 992px) {
    .teams ,.features-section  {
        flex-direction: column;
    }
    .our-feature {
        align-items: center;
        text-align: center;
        margin-top: 50px;
        margin-left: 0px;
    }
    .features-section > div {
        width:100%;
    }
}



